.bg-turbo-yellow {
  background-color: #f8f8f8;
}

.bg-turbo-yellow-10 {
  background-color: white;
}

.bg-turbo-yellow-20 {
  background-color: white;
}

.bg-turbo-yellow-30 {
  background-color: white;
}

.bg-turbo-yellow-40 {
  background-color: white;
}

.bg-turbo-yellow-50 {
  background-color: #f8f8f8;
}

.bg-turbo-yellow-60 {
  background-color: #dfdfdf;
}

.bg-turbo-yellow-70 {
  background-color: #c5c5c5;
}

.bg-turbo-yellow-80 {
  background-color: #acacac;
}

.bg-turbo-yellow-90 {
  background-color: #929292;
}

body {
  font-family: 'Poppins', sans-serif;
  background: #fafafa;
}

p {
  font-family: 'Poppins', sans-serif;
  font-size: 1rem;
  font-weight: 300;
  line-height: 1.7em;
  color: #666;
}

a,
a:hover,
a:focus {
  color: inherit;
  text-decoration: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.navbar {
  padding: 15px 10px;
  background: #fff;
  border: none;
  border-radius: 0;
  margin-bottom: 40px;
  -webkit-box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
          box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

.navbar-btn {
  -webkit-box-shadow: none;
          box-shadow: none;
  outline: none !important;
  border: none;
}

.line {
  width: 100%;
  height: 1px;
  border-bottom: 1px dashed #ddd;
  margin: 40px 0;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */
/*#7386D5*/
/*#6d7fcc*/
/*#47748b*/
/*#fff*/
/*#fff*/
.text-sidebar {
  color: #6b6b6b;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

#sidebar {
  min-width: 250px;
  background: #f8f8f8;
  color: #6b6b6b;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  position: fixed;
  z-index: 99;
}

#sidebar ul#scroll {
  height: calc(100vh - 250px);
  overflow-y: scroll;
}

.sidebar-main {
  width: 270px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.sidebar-main.activenow {
  width: 0;
}

#sidebar.active {
  margin-left: -250px;
}

#sidebar .sidebar-header {
  padding: 20px;
  background: #dfdfdf;
}

#sidebar ul.components {
  padding: 20px 0;
  border-bottom: 1px solid #c5c5c5;
}

#sidebar ul p {
  color: #6b6b6b;
  padding: 10px;
}

#sidebar ul li a {
  padding: 10px 20px;
  font-size: 1rem;
  display: block;
}

#sidebar ul li a:hover {
  color: #f8f8f8;
  background: #6b6b6b;
}

#sidebar ul li.active > a,
a[aria-expanded="true"] {
  color: #6b6b6b;
  background: #dfdfdf;
}

a[data-toggle="collapse"] {
  position: relative;
}

.dropdown-toggle::after {
  display: block;
  position: absolute;
  top: 50%;
  right: 20px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

ul ul a {
  font-size: 0.9em !important;
  padding-left: 30px !important;
  background: #dfdfdf;
}

ul.CTAs {
  padding: 20px;
}

ul.CTAs a {
  text-align: center;
  font-size: 0.9em !important;
  display: block;
  border-radius: 5px;
  margin-bottom: 5px;
}

a.download {
  background: #6b6b6b;
  color: #f8f8f8;
}

a.article,
a.article:hover {
  background: #dfdfdf !important;
  color: #6b6b6b !important;
}

/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */
#content {
  width: 100%;
  padding: 20px 50px;
  min-height: 100vh;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  position: relative;
}

/* ---------------------------------------------------
    TABLE STYLE
----------------------------------------------------- */
section#global p strong {
  font-weight: 700;
  color: #444;
}

div#indian-aqi {
  display: none;
}

div#aqi-table-IN {
  margin: 1.8rem 0;
}

div#aqi-table-IN tbody td p {
  margin: 0;
  line-height: 1.2;
}

div#aqi-table-US {
  margin: 1.8rem 0;
}

div#aqi-table-US tbody td p {
  margin: 0;
  line-height: 1.2;
}

div#aqi-pm10-compare {
  margin: 1.8rem 0;
}

div#aqi-pm10-compare thead th p,
div#aqi-pm10-compare tbody td p {
  margin: 0;
  line-height: 1.2;
}

/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */
@media (max-width: 768px) {
  #sidebar {
    margin-left: -250px;
  }
  #sidebar.active {
    margin-left: 0;
  }
  #sidebarCollapse span {
    display: none;
  }
  .sidebar-header h3 {
    position: relative;
  }
  .sidebar-header a#hideShow {
    position: absolute;
    top: 5px;
    right: -5px;
  }
  .activenow {
    width: unset;
  }
}

@media (min-width: 768px) {
  #hideShow {
    display: none;
  }
}
/*# sourceMappingURL=style.css.map */