@import url("https://fonts.googleapis.com/css?family=Kanit:400,600|Nunito:400,600,700,800,900&display=swap");
.bg-turbo-gray {
  background-color: #f8f8f8;
}

.bg-turbo-gray-10 {
  background-color: white;
}

.bg-turbo-gray-20 {
  background-color: white;
}

.bg-turbo-gray-30 {
  background-color: white;
}

.bg-turbo-gray-40 {
  background-color: white;
}

.bg-turbo-gray-50 {
  background-color: #f8f8f8;
}

.bg-turbo-gray-60 {
  background-color: #dfdfdf;
}

.bg-turbo-gray-70 {
  background-color: #c5c5c5;
}

.bg-turbo-gray-80 {
  background-color: #acacac;
}

.bg-turbo-gray-90 {
  background-color: #929292;
}

body {
  font-family: "Nunito", sans-serif;
  background: #fafafa;
}

p {
  font-family: "Nunito", sans-serif;
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.7em;
  color: #666;
}

h5,
p strong {
  font-family: kanit;
  font-weight: 600;
}

ul#scroll > p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

a,
a:hover,
a:focus {
  color: inherit;
  text-decoration: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.navbar {
  padding: 15px 10px;
  background: #239fd3;
  border: none;
  border-radius: 0;
  margin-bottom: 40px;
  -webkit-box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
          box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 999;
}

.navbar-btn {
  -webkit-box-shadow: none;
          box-shadow: none;
  outline: none !important;
  border: none;
}

.line {
  width: 100%;
  height: 1px;
  border-bottom: 1px dashed #ddd;
  margin: 40px 0;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */
/*#7386D5*/
/*#6d7fcc*/
/*#47748b*/
/*#fff*/
/*#fff*/
.text-sidebar {
  color: #6b6b6b;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

#sidebar {
  min-width: 250px;
  background: #f8f8f8;
  color: #6b6b6b;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  position: fixed;
  z-index: 99999;
}

#sidebar ul#scroll {
  height: calc(100vh - 250px);
  overflow-y: scroll;
}

.sidebar-main {
  width: 270px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.sidebar-main.activenow {
  width: 0;
}

#sidebar.active {
  margin-left: -250px;
}

#sidebar .sidebar-header {
  padding: 20px;
  background: #dfdfdf;
}

#sidebar ul.components {
  padding: 20px 0;
  border-bottom: 1px solid #c5c5c5;
}

#sidebar ul p {
  color: #6b6b6b;
  padding: 10px;
}

#sidebar ul li a {
  padding: 10px 20px;
  font-size: 1rem;
  display: block;
}

#sidebar ul li a:hover {
  color: #f8f8f8;
  background: #6b6b6b;
}

#sidebar ul li.active > a,
a[aria-expanded="true"] {
  color: #6b6b6b;
  background: #dfdfdf;
}

a[data-toggle="collapse"] {
  position: relative;
}

.dropdown-toggle::after {
  display: block;
  position: absolute;
  top: 50%;
  right: 20px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

ul ul a {
  font-size: 0.9em !important;
  padding-left: 30px !important;
  background: #dfdfdf;
}

ul.CTAs {
  padding: 20px;
}

ul.CTAs a {
  text-align: center;
  font-size: 0.9em !important;
  display: block;
  border-radius: 5px;
  margin-bottom: 5px;
}

a.download {
  background: #239fd3;
  color: #f8f8f8;
}

a.download:hover {
  background: #48b4e1 !important;
  -webkit-box-shadow: 2px 4px 8px 0px #48b4e1;
          box-shadow: 2px 4px 8px 0px #48b4e1;
}

a.article,
a.article:hover {
  background: #dfdfdf !important;
  color: #6b6b6b !important;
}

/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */
#content {
  width: 100%;
  padding: 20px 50px;
  min-height: 100vh;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  position: relative;
}

#content .navbar-light .navbar-nav .nav-link,
#content .text-sidebar {
  color: #fff !important;
}

/* ---------------------------------------------------
    GLOBAL STYLING
----------------------------------------------------- */
section#global p strong {
  font-weight: 700;
  color: #444;
}

div#indian-aqi {
  display: none;
}

/* ---------------------------------------------------
    CARD STYLING FOR THE CONTENT AREA
----------------------------------------------------- */
div#content div.line + div {
  background-color: #fff;
  margin-top: 0px;
  border-radius: 10px;
  text-align: left;
  padding: 25px 35px;
  -webkit-box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.15);
  margin-bottom: 50px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  cursor: pointer;
}

div#content div.line + div h5 {
  margin: 20px 0px;
}

div#content div.line + div h5#sub-title {
  color: #239fd3;
}

div#content div.line + div p {
  margin: 0px 0px 15px 0px;
  padding: 0px;
}

/* ---------------------------------------------------
    BLINK ANIMATION
----------------------------------------------------- */
@-webkit-keyframes blink {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}
@keyframes blink {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

#blink {
  -webkit-animation: blink 2s ease-in infinite;
          animation: blink 2s ease-in infinite;
}

/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */
@media (max-width: 1200px) {
  #sidebar {
    min-width: 190px;
  }
}

@media (max-width: 768px) {
  #sidebar {
    min-width: 200px;
  }
  #content {
    padding: 25px;
  }
}

@media (max-width: 767px) {
  #sidebar {
    margin-left: -250px;
  }
  #sidebar.active {
    margin-left: 0;
  }
  .sidebar-main {
    width: 0;
  }
  #sidebarCollapse span {
    display: none;
  }
  .sidebar-header h3 {
    position: relative;
  }
  .sidebar-header a#hideShow {
    position: absolute;
    top: 5px;
    right: -5px;
  }
}

@media (min-width: 768px) {
  #hideShow {
    display: none;
  }
}

/* ---------------------------------------------------
    PM2.5 and PM10 calculation bar
----------------------------------------------------- */
div#calc-wrap {
  margin: 2rem 0;
}

div#calc-wrap div#calculations .pm-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

div#calc-wrap div#calculations .pm-wrapper .image-box {
  -ms-flex-preferred-size: 10%;
      flex-basis: 10%;
}

div#calc-wrap div#calculations .pm-wrapper .content {
  -ms-flex-preferred-size: 90%;
      flex-basis: 90%;
}

div#calc-wrap div#calculations .pm-wrapper .content ul#calc-progress {
  margin: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

div#calc-wrap div#calculations .pm-wrapper .content ul#calc-progress li {
  -webkit-box-flex: 10%;
      -ms-flex: 10%;
          flex: 10%;
}

div#calc-wrap div#calculations .pm-wrapper .content ul#calc-progress li:nth-child(1) p:first-child {
  margin: 0;
  border-bottom: 5px solid #34a12b;
}

div#calc-wrap div#calculations .pm-wrapper .content ul#calc-progress li:nth-child(2) p:first-child {
  margin: 0;
  border-bottom: 5px solid #d4cc0f;
}

div#calc-wrap div#calculations .pm-wrapper .content ul#calc-progress li:nth-child(3) p:first-child {
  margin: 0;
  border-bottom: 5px solid #e9572a;
}

div#calc-wrap div#calculations .pm-wrapper .content ul#calc-progress li:nth-child(4) p:first-child {
  margin: 0;
  border-bottom: 5px solid #ec4d9f;
}

div#calc-wrap div#calculations .pm-wrapper .content ul#calc-progress li:nth-child(5) p:first-child {
  margin: 0;
  border-bottom: 5px solid #9858a2;
}

div#calc-wrap div#calculations .pm-wrapper .content ul#calc-progress li:nth-child(6) p:first-child {
  margin: 0;
  border-bottom: 5px solid #c11e2f;
}

div#calc-wrap div#calculations .pm-wrapper .content ul#calc-progress li:last-child p:last-child {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

/* ---------------------------------------------------
    Layout change Codes
----------------------------------------------------- */
.prana-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.prana-container p {
  width: 60%;
}

.prana-container .image-wrapper {
  width: 40%;
  text-align: center;
}

.prana-container .image-wrapper img {
  width: 80%;
  border: 1px solid lightgray;
  padding: 5px;
  border-radius: 5px;
}

.prana-container .image-wrapper img:hover {
  opacity: 0.9;
  -webkit-transition: 0.5s ease infinite;
  transition: 0.5s ease infinite;
}

/* ---------------------------------------------------
    AQI PARAMETER CARDS
----------------------------------------------------- */
.AQI-categories {
  padding: 1rem 0;
  background-size: cover;
}

.AQI-categories .card {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.AQI-categories .card-title {
  padding-top: 0.5em;
}

.AQI-categories a:hover {
  text-decoration: none;
}

.AQI-categories .col-md-4 {
  margin-bottom: 1rem;
}

.AQI-categories .col-md-4:nth-child(1) .service-card {
  background: #34a12b;
  border: 0;
}

.AQI-categories .col-md-4:nth-child(1) .service-card:hover {
  background: #41c936 !important;
  -webkit-box-shadow: 2px 4px 8px 0px #41c936;
          box-shadow: 2px 4px 8px 0px #41c936;
}

.AQI-categories .col-md-4:nth-child(2) .service-card {
  background: #d4cc0f;
  border: 0;
}

.AQI-categories .col-md-4:nth-child(2) .service-card:hover {
  background: #f0e726 !important;
  -webkit-box-shadow: 2px 4px 8px 0px #f0e726;
          box-shadow: 2px 4px 8px 0px #f0e726;
}

.AQI-categories .col-md-4:nth-child(3) .service-card {
  background: #e9572a;
  border: 0;
}

.AQI-categories .col-md-4:nth-child(3) .service-card:hover {
  background: #ee7b58 !important;
  -webkit-box-shadow: 2px 4px 8px 0px #ee7b58;
          box-shadow: 2px 4px 8px 0px #ee7b58;
}

.AQI-categories .col-md-4:nth-child(4) .service-card {
  background: #ec4d9f;
  border: 0;
}

.AQI-categories .col-md-4:nth-child(4) .service-card:hover {
  background: #f17bb8 !important;
  -webkit-box-shadow: 2px 4px 8px 0px #f17bb8;
          box-shadow: 2px 4px 8px 0px #f17bb8;
}

.AQI-categories .col-md-4:nth-child(5) .service-card {
  background: #9858a2;
  border: 0;
}

.AQI-categories .col-md-4:nth-child(5) .service-card:hover {
  background: #ad78b5 !important;
  -webkit-box-shadow: 2px 4px 8px 0px #ad78b5;
          box-shadow: 2px 4px 8px 0px #ad78b5;
}

.AQI-categories .col-md-4:nth-child(6) .service-card {
  background: #c11e2f;
  border: 0;
}

.AQI-categories .col-md-4:nth-child(6) .service-card:hover {
  background: #df3345 !important;
  -webkit-box-shadow: 2px 4px 8px 0px #df3345;
          box-shadow: 2px 4px 8px 0px #df3345;
}

.AQI-categories .service-card .card-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px 0;
  height: 187px;
}

.AQI-categories .service-card .card-block img {
  max-width: 25%;
  margin: 0 10px;
}

.AQI-categories .service-card .card-block h4.card-title {
  margin: 0 10px;
}

.AQI-categories .service-card .card-block h4.card-title p {
  color: #fff;
  line-height: 1;
  text-align: center;
}

/* ---------------------------------------------------
    FOOTER SECTION
----------------------------------------------------- */
footer.bg-secondary {
  background: #239fd3 !important;
}
/*# sourceMappingURL=style.css.map */